<!doctype html>
<html ng-app>
  <head>
    <title>Tweet Example By Angular.js</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript">
      function TweetCtrl($scope) {
        $scope.tweets = [];
        $scope.filterdTweets = [];
        $scope.post = '';
        $scope.filterWord = '';

        $scope.addTweet = function() {
          $scope.tweets.push({post: $scope.post, postedTime: new Date()});
          $scope.doFilter();
          $scope.post = '';
        }

        $scope.doFilter = function() {
          $scope.filterdTweets = $scope.tweets.filter(function(t) {
            return ($scope.filterWord == '' || t.post.indexOf($scope.filterWord) >= 0);            
          })
        }
      }
    </script>
  </head>
  <body>
    <h2>Tweet Example By Angular.js</h2>
    <div ng-controller="TweetCtrl">
      <label>Filter:</label>
      <input ng-model="filterWord" ng-keyup="doFilter()" />
      <form ng-submit="addTweet()">
        <input ng-model="post" placeholder="add new tweet" />
        <button>add tweet</button>
      </form>
      <ul>
        <li ng-repeat="tweet in filterdTweets">
          {{tweet.post}}({{tweet.postedTime}})
        </li>
      </ul>
    </div>
  </body>
</html>